<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>

	<header>
        <div class="col-2"><img src="img/Veterinaria.png" alt="logo" class="logo"></div>
        <div class="col-10"></div>
    </header>

    <nav>
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-6"><a th:href="@{/peet}"><h3 class="linkNav">Agregar mascota</h3></a></div>
                <div class="col-6"><a th:href="@{/booking}"><h3 class="linkNav">Registrar Cita</h3></a></div>
            </div>
        </div>
    </nav>
    
	<div class="container containerForm">
	
	<h3 th:text="${'Nueva cita'}" class="mb-5 text-center"></h3>

		<form th:action="@{/saveBooking}" th:object="${booking}" method="post">
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Fecha</label>
				<div class="col-sm-9">
					<input type="date" th:field="*{fecha}" class="form-control formInput" /> 
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Doctor</label>
				<div class="col-sm-9">
					<input type="text" th:field="*{doctor}" class="form-control formInput"/> 
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Paciente</label>
				<div class="col-sm-9">
					<select class="custom-select" id="inputGroupSelect01" th:field="*{idPaciente}">
					    <option selected value="Null">Elige la mascota</option>
				    	<option th:each="Peet: ${allPeet}" th:value="${Peet.id}" th:text="${Peet.nombre}"></option>
					  </select>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Tipo</label>
				<div class="col-sm-9">
					<input type="text" th:field="*{tipo}" class="form-control formInput" /> 
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Detalles</label>
				<div class="col-sm-9">
					<input type="text" class="form-control formInput" th:field="*{detalles}"	 />
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-10">
					<input type="submit" value="Crear Cita" class="btnCrear" />
				</div>
			</div>

		</form>
	</div>
	
	<footer>
        <h4>Diseñado por: <a href="https://github.com/nicolaxortiz" class="myProfile">Nicolas Ortiz Pedraza</a></h4>
        <h4>2022</h4>
    </footer>
</body>
</html>